<!DOCTYPE html>
<html>
<head>
    <title>Admin Settings</title>
</head>
<body>
    <h1>Настройки для {{ admin.nice_name }}</h1>
    
    Поменять пароль
    <form method="post">
        <label for="old-password">Старый пароль:</label>
        <input type="password" name="old-password" id="old-password">
        <br>
        <label for="new-password">Новый пароль:</label>
        <input type="password" name="new-password" id="new-password">
        <br>
        <br>
        <input type="submit" value="Поменять пароль">
    </form>
</body>
</html>
